@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="orange centre">

</div>
<table id="table_id" class="table table-striped table-hover dt-responsive dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="table_id_info" style="width: 100%;">
    <thead>
        <tr role="row"><th class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="Prenom: activate to sort column ascending" style="width: 130px;">Prenom</th><th class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="Nom: activate to sort column ascending" style="width: 161px;">Nom</th><th class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 406px;">Email</th><th class="sorting" tabindex="0" aria-controls="table_id" rowspan="1" colspan="1" aria-label="Date de Naissance: activate to sort column ascending" style="width: 273px;">Date de Naissance</th></tr>
    </thead>
    <tbody>

        <tr class="even">

            <td>Anais</td>
            <td>Zanucchi</td>
            <td>anais.zanzucchi@edu.devinci.fr</td>
            <td>
                <div class="RelancerS">
                </div>
                <div class="Contacter">
                    Contacter
                </div>
                <div class="EnCoursS">
                </div>
                <div class="DevisS">

                </div>
                <div class="CES">

                </div>
                <div class="SigneS">

                </div>
            </td>
        </tr>
        <tr class="odd">

            <td>Anais</td>
            <td>Zanucchi</td>
            <td>anais.zanzucchi@edu.devinci.fr</td>
            <td>
                <div class="EnCours">
                    EnCours
                </div>
            </td>
        </tr>
        <tr class="even">

            <td>Anais</td>
            <td>Zanucchi</td>
            <td>anais.zanzucchi@edu.devinci.fr</td>
            <td>
                <div class="Devis">
                    Devis
                </div>
            </td>
        </tr>
        <tr class="odd">

            <td>Anais</td>
            <td>Zanucchi</td>
            <td>anais.zanzucchi@edu.devinci.fr</td>
            <td>
                <div class="CE">
                    CE
                </div>
            </td>
        </tr>
        <tr class="even">

            <td>Anais</td>
            <td>Zanucchi</td>
            <td>anais.zanzucchi@edu.devinci.fr</td>
            <td>
                <div class="Signe">
                    Signe
                </div>
            </td>
        </tr>
        <tr class="odd">

            <td>Anais</td>
            <td>Zanucchi</td>
            <td>anais.zanzucchi@edu.devinci.fr</td>
            <td>
                <div class="Relancer">
                    Relancer
                </div>
            </td>
        </tr>
        <tr class="even">

            <td>Anais</td>
            <td>Zanucchi</td>
            <td>anais.zanzucchi@edu.devinci.fr</td>
            <td>
                <div class="Cloture">
                    Cloture
                </div>
            </td>
        </tr>
        <tr class="odd">

            <td>Arnaud</td>
            <td>SCHWARTZ</td>
            <td>arnaud.schwartz@edu.devinci.fr</td>
            <td>
                <div class="null">
                    A-Contacter
                </div>

            </td>
        </tr>
    </tbody>
</table>


